.Cv-editor-keeper {
    display: flex;
    justify-content: space-between;
}
.Cv-editor{
    padding: 25px 0;
}
.personal-info{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.personal-info input,.personal-info label{
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid teal;
    height: 25px;
}
.personal-info-btn{
    width: 100px;
    align-self:flex-end;
    margin-top: 25px;
    padding: 15px 25px ;
    background-color: teal;
    color: white;
    cursor: pointer;
    height: initial !important;
}
.CV-edit-title{
    font-size: 26px;
    padding: 20px 0;
}
.CV-edit-interests{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.CV-edit-sections{
    display: flex;
    flex-direction: column;
}
.cvEditNav button{
    padding: 10px;
    outline: none;
    border: none;
    margin-right: 5px;
}
.interest-select{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.interest-select select{
    margin-left: 15px;
    height: 30px;
}
.interest-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.interest-title input{
    margin-left: 15px;
    height: 20px;

}
.interest-desc p{
font-size: 18px;
margin-bottom: 15px;
}
.interest-desc textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}
.interest-btn-add{
    align-self: flex-end;
    padding: 15px 25px ;
    background-color: teal;
    color: white;
    cursor: pointer;
}
.interest-btn-new,.interest-btn-next{
    display: none;
    padding: 15px 25px ;
    background-color: teal;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.CV-edit-experience{
    display: none;
}
.CV-edit-experience textarea{
margin-bottom: 20px;
height: 50px;
}
.CV-edit-education,.addSkillForm,.languageSkillForm,.CV-edit-design{
    display : none
}
.dispEduTitle{
    display: none;
}
.cvEditNav li{
float: left;
outline: none;


}
.mainBtn{
    padding: 15px;
    background-color: teal;
    outline: none;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}
.navDone {
    cursor: pointer;
    background-color: teal;
    color: white;
    transition: 1s;
}
.imgDesign,.fontDesign,.backDesign{
    display: flex;
    flex-direction: column;

}
.personPictLabel{
    background-color: teal;
    display: inline-block;
    padding: 15px;
    margin: 15px 0;
    color: white;
    cursor: pointer;
}
.personPict{
    display: none;
}